In [1]:
# Import the dependencies.
import pandas as pd
import requests
# Import the API key.
from config import g_key

In [2]:
import gmaps

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-02-22 21:42:13,22.08,-159.32,78.80,65,20,6.93
1,1,Ushuaia,AR,2020-02-22 21:41:49,-54.80,-68.30,69.80,52,75,9.17
2,2,Husavik,IS,2020-02-22 21:43:43,66.04,-17.34,21.94,87,100,10.38
3,3,Mar Del Plata,AR,2020-02-22 21:43:07,-38.00,-57.56,62.60,67,0,13.87
4,4,Leshukonskoye,RU,2020-02-22 21:43:43,64.90,45.76,33.04,82,100,16.71
...,...,...,...,...,...,...,...,...,...,...
558,558,Merke,KZ,2020-02-22 21:43:39,42.87,73.18,33.12,98,100,3.96
559,559,Bull Savanna,JM,2020-02-22 21:45:57,17.89,-77.59,76.78,72,94,5.32
560,560,Miri,MY,2020-02-22 21:44:01,4.41,114.01,77.00,94,75,5.82
561,561,Isangel,VU,2020-02-22 21:45:57,-19.55,169.27,82.40,78,20,16.35
562,562,Akdepe,TM,2020-02-22 21:45:58,42.06,59.38,42.80,87,90,4.70

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-02-22 21:42:13,22.08,-159.32,78.80,65,20,6.93
13,13,Saint-Philippe,RE,2020-02-22 21:42:19,-21.36,55.77,75.20,69,75,6.93
23,23,Georgetown,MY,2020-02-22 21:41:59,5.41,100.34,80.60,78,20,2.24
24,24,Guhagar,IN,2020-02-22 21:43:48,17.48,73.19,80.76,59,0,6.82
28,28,Touros,BR,2020-02-22 21:42:04,-5.20,-35.46,82.40,83,75,6.93
...,...,...,...,...,...,...,...,...,...,...
555,555,Kahului,US,2020-02-22 21:42:58,20.89,-156.47,80.60,51,40,6.93
556,556,Nhulunbuy,AU,2020-02-22 21:42:14,-12.23,136.77,78.80,94,90,9.17
559,559,Bull Savanna,JM,2020-02-22 21:45:57,17.89,-77.59,76.78,72,94,5.32
560,560,Miri,MY,2020-02-22 21:44:01,4.41,114.01,77.00,94,75,5.82
561,561,Isangel,VU,2020-02-22 21:45:57,-19.55,169.27,82.40,78,20,16.35

In [18]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp    Lat     Lng Hotel Name
0             Kapaa      US     78.80  22.08 -159.32
13   Saint-Philippe      RE     75.20 -21.36   55.77
23       Georgetown      MY     80.60   5.41  100.34
24          Guhagar      IN     80.76  17.48   73.19
28           Touros      BR     82.40  -5.20  -35.46
..              ...     ...       ...    ...     ...        ...
555         Kahului      US     80.60  20.89 -156.47
556       Nhulunbuy      AU     78.80 -12.23  136.77
559    Bull Savanna      JM     76.78  17.89  -77.59
560            Miri      MY     77.00   4.41  114.01
561         Isangel      VU     82.40 -19.55  169.27

[164 rows x 6 columns]

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
13,Saint-Philippe,RE,75.20,-21.36,55.77,"Chambres d'hÃ´te ""La TrinitÃ©"""
23,Georgetown,MY,80.60,5.41,100.34,Cititel Penang
24,Guhagar,IN,80.76,17.48,73.19,Hotel Seawinds
28,Touros,BR,82.40,-5.20,-35.46,INN NEW HORIZON
...,...,...,...,...,...,...
555,Kahului,US,80.60,20.89,-156.47,Maui Seaside Hotel
556,Nhulunbuy,AU,78.80,-12.23,136.77,East Arnhem Real Estate
559,Bull Savanna,JM,76.78,17.89,-77.59,Big Red's
560,Miri,MY,77.00,4.41,114.01,"Mega Hotel, Miri"
561,Isangel,VU,82.40,-19.55,169.27,Volcano Sea View Tree House

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))